<div class="table-container">
  <mat-table [dataSource]="centers" class="mat-elevation-z8">
    <ng-container matColumnDef="hospital">
      <mat-header-cell *matHeaderCellDef>Hospital</mat-header-cell>
      <mat-cell *matCellDef="let element" class="hospital">
        <h5>
          {{ element.name }}
          <span>
            <app-capsule [capsuleType]="element.fee_type"></app-capsule>
          </span>
        </h5>
        <div class="address">
          {{ element.address }}
        </div>
        <div class="vaccine-type" *ngIf="element.fee_type == 'Paid'">
          <ng-container *ngFor="let vac_fees of element.vaccine_fees">
            {{ vac_fees.vaccine }}:
            {{ vac_fees.fee | currency: "INR":"symbol-narrow":"4.0-0" }}
          </ng-container>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container
      *ngFor="let dateVal of dateValues"
      matColumnDef="{{ dateVal.date }}"
    >
      <mat-header-cell *matHeaderCellDef>{{ dateVal.date }}</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <app-slots [center]="element" [forDate]="dateVal.dateKey"> </app-slots>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
